body {
    font-family: Arial, sans-serif;
    background-color: rgb(104, 103, 103);
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 370px;
    height: auto;
    padding: 15px 20px;
    margin: 40px auto;
    gap: 15px;
    border-radius: 12px;
    background-color: #fff;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    height: 0px;
    cursor: pointer;
    gap: 270px;
}

.arrow_toggle i {
    transition: transform 0.3s ease;  
}

.arrow_toggle.rotate i {
    transform: rotate(180deg);  
}

.face2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

.face2.active {
    max-height: 200px; 
}

.color_range {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    margin-top: 25px;
}

.color{
    margin: 3px;
    padding: 0%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.color:hover {
    outline: 2px solid black;
}

.face2{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;

    
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    transition: max-height 0.5s ease;
}

.face2.active{
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

#pale-rose { background-color: #d3b1af; }
#cool-gray { background-color: #a2a4aa; }
#very-dark-gray { background-color: #181818; }
#jet-black { background-color: #2c2c2b; }
#sapphire-blue { background-color: #2e4398; }
#dark-slate-green { background-color: #2f4237; }
#dark-maroon { background-color: #601d13; }
#rust-brown { background-color: #933203; }
#crimson-red { background-color: #ab292e; }
#vermilion { background-color: #e54e2a; }
#chestnut-brown { background-color: #622912; }
#olive-green { background-color: #726522; }
