body{
    font-family: Arial, sans-serif;
    background-color: rgb(104, 103, 103);
    margin: 0;
    padding: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 370px;
  height: 30px;
  padding: 15px 20px;
  margin: 40px auto;
  gap: 15px;
  border-radius: 12px;
  background-color: #fff;
  color: black;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.heading{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    width: 100%;
    cursor: pointer;
    gap: 285px;
    margin-bottom: -10px;
}

.arrow_toggle i {
    transition: transform 0.2s ease;  
}

.arrow_toggle.rotate i {
    transform: rotate(180deg);  
}

.face2{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;

    max-height: 0;
    opacity: 0;
    visibility: hidden;

    transition: max-height 0.3s ease;
}

.face2.active{
    max-height: 500px; 
    opacity: 1;
    visibility: visible;
}

.wrapper{
    width: 400px;
    background-color: #fff;
    background: 10px;
    border-radius: 10px;
    padding: 20px 25px 40px;
}

.price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.field input{
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
  position: relative;
  height: 5px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
}


.slider .progress {
  position: absolute;
  height: 100%;
  background: linear-gradient(60deg, rgb(253, 94, 245) 0%, rgba(137, 56, 166, 1) 100%);
  border-radius: 5px;
  left: 25%;   
  right: 25%; 
}

.range-input {
  position: relative;
  width: 100%;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  left: -2px;
  background: none;
  pointer-events: none; 
  -webkit-appearance: none;
  appearance: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(137, 56, 166, 1);
  pointer-events: auto; 
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.range-input input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3a86ff;
  border: 2px solid #fff;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}